#Ignore the virtual envirionment
ganvenv/
#Ignore generated data
cars/
wine/
#Ignore Models
stylegan2/models/

#Cache
__pycache__
stylegan2/__pycache__
stylegan2/dnnlib/__pycache__
stylegan2/torch_utils/ops/__pycache__
